<html>
<head>
  <title>Spooning App</title>
  <script type="text/x-template" id="studentTmpl">
    
      <img src="<%= photo %>">
      <h2><%= name %></h2>
      <p><%= bio %></p>
      <button>Delete</button>
      <hr>
    
  </script>
</head>
<body>
<h1>Spooning in progress....</h1>
<div class="container">

</div>





<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
<script type="text/javascript" src="node_modules/backbone/backbone.js"></script>

<script type="text/javascript" src="js/models.js"></script>
<script type="text/javascript" src="js/collections.js"></script>
<script type="text/javascript" src="js/routes.js"></script>
<script type="text/javascript" src="js/views.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>